.hero-left,
.hero-right {
  opacity: 0;
  transform: translateY(60px);
  transition: all 2s ease;
}
.hero-left.show {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.3s;
}

.hero-right.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}
.hero-right img {
  width: 100%;
  max-width: 420px;
}
.hero-section {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #000, #2b2b2b, #4a4a4a);
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 100px;
  margin-top: 50px;
}

.hero-container {
  width: 100%;
  padding: 0 6%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* LEFT */
.hero-left {
  max-width: 55%;
  color: #fff;
  opacity: 0;
  transform: translate(-180px) scale(0.85); /* LEFT */
  transition: all 1.8s ease;
}

.hero-hi {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 15px;
}

.hero-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3;
}

.hero-title span {
  color: #ffffff;
}

.hero-desc {
  margin-top: 20px;
  font-size: 16px;
  max-width: 500px;
  color: #d1d1d1;
}

/* BUTTON */
.hero-btn {
  margin-top: 35px;
  padding: 14px 28px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 30px;
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #fff;
  color: #000;
}

/* RIGHT */
.hero-right {
  opacity: 0;
  transform: translate(180px) scale(0.85); /* LEFT */
  transition: all 1.8s ease;
}

.hero-right img {
  width: 100%;
  max-width: 420px;
  
}

/* SCROLL ICON */
.scroll-icon {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  color: #fff;
  opacity: 0.6;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translate(-50%, 0); }
  50% { transform: translate(-50%, 8px); }
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .hero-container {
    flex-direction:column-reverse;
    text-align: center;
    align-items: center;
  }

  .hero-left,
  .hero-right {
    max-width: 100%;
  }

  .hero-right {
    margin-top: 0px;
  }
  .primage{
    width: 280px;
    height: 300px;
    margin-top: 40px;
    padding: 20px;
    margin-right: 0%;
  }
  .hero-section{
    padding-top: 20px;
    margin-top: 70px;
  }
}
.primage{
    width: 500px;
  height: 550px;
  object-fit: cover;
  border-radius: 40px;
  filter: grayscale(50%);
  transition: 0.4s;
}
.primage:hover {
  filter: grayscale(0%);
  transform: scale(1.03);
}
@media (max-width: 590px) {
  .hero-container {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }

  .hero-left,
  .hero-right {
    max-width: 100%;
  }

  .hero-right {
    margin-top: 0px;
  }
  .hero-section{
    padding-top: 20px;
    margin-top: 70px;
  }
  .primage{
    width: 300px;
    height: 400px;
    margin-top: 1%;
  }
}