/* SECTION */
.projects-section {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #000, #2b2b2b, #4a4a4a);
  display: flex;
  margin: auto;
  align-items: center;
  padding: 100px 0;
  text-align: center;
}

/* CONTAINER */
.projects-container {
  width: 100%;
  padding: 0 9%;
  opacity: 0;
  margin: auto;
  transform: translateY(60px);
  transition: all 1.4s ease;
}

.projects-container.show {
  opacity: 1;
  transform: translateY(0);
}

/* HEADER */
.projects-header {
  color: #fff;
  margin-bottom: 50px;
}

.projects-header p {
  font-size: 13px;
  letter-spacing: 2px;
  opacity: 0.7;
}

.projects-header h2 {
  font-size: 36px;
  margin-top: 10px;
}

/* GRID */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}


/* RESPONSIVE */
@media (max-width: 1040px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 576px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .projects-header h2 {
    font-size: 28px;
  }
}
.project-card {
  width: 320px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin: auto;
}

/* IMAGE BOX */
.project-image {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.4s ease;
}

/* HOVER EFFECT */
.project-image:hover img {
  transform: scale(1.1);
}

.project-image:hover .overlay {
  opacity: 1;
}

/* OVERLAY TEXT */
.overlay h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

/* BUTTONS */
.overlay-links {
  display: flex;
  gap: 15px;
}

.overlay-links a {
  padding: 8px 18px;
  border-radius: 25px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.3s;
}

.overlay-links a:hover {
  background: #fff;
  color: #000;
}

.overlay-links .live {
  background: #fff;
  color: #000;
}

.overlay-links .live:hover {
  background: transparent;
  color: #fff;
}

/* DESCRIPTION */
.project-desc {
  margin-top: 12px;
  padding-left: 10px;
  font-size: 14px;
  color: #cfcfcf;
}
@media (max-width: 768px) {
  .overlay {
    opacity: 1;
    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
    justify-content: flex-end;
    padding-bottom: 20px;
  }
  .projects-grid {
    grid-template-columns: 1fr;

  }
}
@media (max-width: 1200px) {
.projects-container {
  width: 100%;
  padding: 0 2%;
  opacity: 0;
  transform: translateY(60px);
  transition: all 1.4s ease;
}
.projects-header p {
  font-size: 13px;
  letter-spacing: 2px;
  opacity: 0.7;
  padding-left: 20px;
}

.projects-header h2 {
  font-size: 36px;
  margin-top: 10px;
  padding-left: 20px;
}
}
@media (max-width: 410px) {
  .projects-section{
    margin: auto;
    /* padding-left: 30px; */
  }
  .project-card {
  width: 280px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin: auto;
}
.projects-header p {
  font-size: 13px;
  letter-spacing: 2px;
  opacity: 0.7;
  padding-left: 10px;
}

.projects-header h2 {
  font-size: 25px;
  margin-top: 10px;
  padding-left: 10px;
}
}  
